<p id="notice"><%= notice %></p>

<h1>Medevaccases</h1>

<table>
  <thead>
    <tr>
      <th>Patientfname</th>
      <th>Patientlname</th>
      <th>Dob</th>
      <th>Diagnosis</th>
      <th>Treatment</th>
      <th>Catname</th>
      <th>Startdate</th>
      <th>Completiondate</th>
      <th>Tocountry</th>
      <th>Fromcountry</th>
      <th>Currenthospitalname</th>
      <th>Currenthospitaladdress</th>
      <th>Receivinghospitalname</th>
      <th>Receivinghospitaladdress</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medevaccases.each do |medevaccase| %>
      <tr>
        <td><%= medevaccase.patientFname %></td>
        <td><%= medevaccase.patientLname %></td>
        <td><%= medevaccase.dob %></td>
        <td><%= medevaccase.diagnosis %></td>
        <td><%= medevaccase.treatment %></td>
        <td><%= medevaccase.catName %></td>
        <td><%= medevaccase.startDate %></td>
        <td><%= medevaccase.completionDate %></td>
        <td><%= medevaccase.toCountry %></td>
        <td><%= medevaccase.fromCountry %></td>
        <td><%= medevaccase.currentHospitalName %></td>
        <td><%= medevaccase.currentHospitalAddress %></td>
        <td><%= medevaccase.receivingHospitalName %></td>
        <td><%= medevaccase.receivingHospitalAddress %></td>
        <td><%= medevaccase.notes %></td>
        <td><%= link_to 'Show', medevaccase %></td>
        <td><%= link_to 'Edit', edit_medevaccase_path(medevaccase) %></td>
        <td><%= link_to 'Destroy', medevaccase, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medevaccase', new_medevaccase_path %>
